
*
{ margin: 0px;
padding: 0px; outline: 0;
}
html { width: 100%; background-color: #fffeee;}

body {
/*background:url(../imagenes/11.png);*/
background-size:100% 100%;
background-repeat:no-repeat;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:14px;


}
/* index.php */
#contenedor {
	width:100% 100%;
	margin:-10;
	padding-top:0px;


}
#encabezado {
	display: flex;
	height:115px;
	background: #4f9ef0;
	overflow: hidden;
	padding: 5px;
	margin: 0;

}

#encabezado img{
	max-width: 25%;
	border-radius: 30%;
	margin: 0;
}
.reporte h4{
	color: rgba(130, 142, 133, 0.89);
	padding: 10px;
	margin-left: 100px;
	text-align: left;
}
.botones{
	padding: 7px;
}
.botones button{
	border: none;
	background: #4f8cbd;
	color: #f2f2f2;
	padding: 10px;
	font-size: 18px;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease;
	}

.botones button:before {
content:'';
position: absolute;
top: 0px;
left: 0px;
width: 0px;
height: 42px;
background: rgba(255,255,255,0.3);
border-radius: 5px;
transition: all 1s ease;
}
.botones button:hover:before {
width: 100%;
}
.botones span{
	margin-left: 15px;
	padding: 20px;
	color: rgba(130, 142, 133, 0.89);
	font-weight: bold;


}
#formulario, #formulario2{
	min-width: 300px;
	padding-top: 2px;
	margin: 0;

}
.formulario input, select{
  border-radius: 5px;
  border: 1px solid #48494a;
  background: #dae8f6;
	padding: 10px;

}
.formulario select, input[type="submit"]{
	width: 100%;
}

.formulario input[type="submit"] {
 background: #55d97a;
}
#contenido {
	margin: 3px;
	padding:5px;
	min-height: 500px;
	border-radius: 5px;
	border: 1px solid #ccc;
}
/*NUEVO*/
.imagen-central img{
	max-width: 100%;
	opacity: 0.2;
  filter: alpha(opacity=20);
}

h2{

	font-family: verdana, arial, sans-serif;
	color:#fff;

}
table{
	width: 100%;

}
	table.compare {

		position: relative;
		width: 100%;
		margin: 0;

	}
	table td{
		padding: 5px;
	}
	table.compare td {
		font: .8em/1.4em Verdana, sans-serif;
		text-align: center;
		/*border-top: 1px solid #eee;*/
		padding: .5em;

	}
	table th{
		color: #fff;
		/*font-size: 1.2em;*/
		font-weight: 600;
		text-align: center;
	}
	table th {
		background-color:rgba(250,130,54,1);

	}
	tr:nth-child(odd) {
		background-color:rgba(176,250,192,.6);
	}
	tr:nth-child(even) {
		background-color:rgba(79,140,189,.6);
	}


	#formulario2 tr:nth-child(odd) {
		background-color:rgba(79,140,189,.6);
	}
#formulario2	tr:nth-child(even) {
		background-color:rgba(176,250,192,.6);
	}
	/*NUEVO*/
	.pie {
		background: #4f9ef0;
		color: #fff;
		text-align: center;
		padding: 25px;
	}
	.pie img{
		color: #fff;
		max-width: 12%;
		vertical-align: middle;


	}

/*#pie {
	background-color: rgba(0,0,0,0.5);
	background-size: 100% 100%;
	height:10px;
	padding:5px;
	text-align:center;
	color:white;
	margin: 20px 0px 0px-10px;
	vertical-align:text-bottom;
}*/


@media screen and (max-width: 600px) {

	#encabezado {

		height:90px;


	}
	table {
    border: 0;
  }

  table.compare thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table.compare tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table.compare td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table.compare td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }

	.formulario input[type="date"] {
		margin: 0;
		width: 86%;
	}
}
